{% extends 'base.html' %}
{% block title %}
About us
{% endblock title %}


{% block activeabout %}
act
{% endblock activeabout %}
{% block activeaboutm %}
act
{% endblock activeaboutm %}


{% block content %}
<div>
    <div class="flex flex-col md:mt-18 my-6 mt-14 text-white">
        <div class="flex justify-center mx-3">
            <p class="font-extrabold text-2xl md:text-7xl uppercase text-[#def0ffcc]">About<span
                    class="text-[#caca00d6] ml-5">Us</span>
            </p>
        </div>
    </div>

    <div class="my-10 mt-10 bg-[#00000080] hover:bg-[#000000c4] transition-all p-10 rounded-lg">
        <p class="font-semibold text-[#eee7e7]">
            At FitnessHub, we go beyond the conventional gym experience. Our dedicated team of experienced trainers is
            more than just instructors; they are your partners in achieving your health and wellness goals. We believe
            in the transformative power of fitness and its ability to enhance not only your physical well-being but also
            your mental and emotional health.
        </p>
        <div class="my-4">
            <h1 class="card-title text-[#eee7e7]">Your Fitness Journey, Personalized</h1>
            <p class="my-1">We understand that every fitness journey is unique. That's why our trainers are here to
                guide you through
                personalized workout routines crafted specifically for your needs. Whether you're a beginner taking your
                first
                steps towards a healthier lifestyle or a seasoned fitness enthusiast aiming to reach new heights,
                FitnessHub is
                here to support you at every stage.</p>
        </div>
        <div class="my-4">
            <h1 class="card-title text-[#eee7e7]">State-of-the-Art Facilities</h1>
            <p class="my-1">Our gym is equipped with state-of-the-art facilities designed to provide you with a
                comfortable and
                motivating
                workout environment. From cutting-edge fitness equipment to spacious workout areas, we've curated an
                environment
                that inspires and encourages your fitness goals.</p>
        </div>
        <div class="my-4">
            <h1 class="card-title text-[#eee7e7]">Your Wellness, Our Priority</h1>
            <p class="my-1">At FitnessHub, your well-being is our top priority. Beyond</p>
        </div>
    </div>
</div>
{% endblock content %}