{% extends 'base.html' %}
{% load static %}
{% block title %}
Schedules
{% endblock title %}


{% block activeschedule %}
act
{% endblock activeschedule %}
{% block activeschedulem %}
act
{% endblock activeschedulem %}


{% block content %}
<div class="flex flex-col md:mt-18 my-6 mt-14 text-white">
    <div class="flex justify-center mx-3">
        <p class="font-extrabold text-2xl md:text-7xl uppercase text-[#def0ffcc]">Sche<span
                class="text-[#caca00d6]">dules</span>
        </p>
    </div>
</div>
<div class="flex flex-col items-center my-10 mt-10">

    {% for schedule in schedules %}
    <div class="flex flex-col bg-[#00000080] hover:bg-[#000000c4] hover:scale-105 transition-all my-2 m-20 w-96">
        <div class="my-6">
            <div>
                <h1 class="text-center font-semibold text-lg list-disc text-[#eee7e7]">{{schedule.title}}</h1>
            </div>
            <div class="divider"></div>
            <div class="ml-6 flex flex-row justify-items-center">
                <div class="mr-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                </div>
                <div class="self-center">
                    Timing :<span class="ml-1">{{schedule.timing}}</span>
                </div>
            </div>

            <!-- AVAILABLE OR NOT -->
            {% if schedule.available %}
            <div class="ml-6 flex flex-row justify-items-center">
                <div class="mr-1 text-green-200"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                    </svg>
                </div>
                <div class="self-center inline">
                    Schedule : <span class="text-green-200">Available</span>
                </div>
            </div>
            {% else %}
            <div class="ml-6 flex flex-row justify-items-center">
                <div class="mr-1 text-red-200"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                    </svg>
                </div>
                <div class="self-center">
                    Schedule : <span class="text-red-200">Unavailable</span>
                </div>
            </div>
            {% endif %}
            <div class="ml-6 flex flex-row justify-items-center">
                <div class="mr-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z" />
                    </svg>

                </div>
                <div class="self-center">
                    Duration : <span>{{schedule.get_duration}}</span>
                </div>
            </div>
            <div class="ml-6 flex flex-row justify-items-center">
                <div class="mr-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z" />
                    </svg>

                </div>
                <div class="self-center">

                    {% if schedule.current_participants == schedule.max_participants %}
                    <!-- CLOSED SESSION -->
                    <span class="text-red-200">{{schedule.current_participants}}</span> of
                    <span class="text-red-200">{{schedule.max_participants}} closed</span>
                    {% else %}
                    <!-- OPEN SESSION -->
                    <span class="text-green-200">{{schedule.current_participants}}</span> of
                    <span class="text-green-200">{{schedule.max_participants}} open</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% endfor %}



</div>
{% endblock content %}